fastapi==0.116.1
uvicorn[standard]==0.35.0
celery[redis]==5.5.3
SQLAlchemy==2.0.43
psycopg[binary]==3.2.9
pydantic-settings==2.10.1
minio==7.2.16
openai==1.99.9
httpx==0.28.1
python-multipart==0.0.20
pythainlp==5.1.2
Pillow==11.3.0
moviepy==2.2.1
